[flake8]
exclude = .venv,venv,.git,__pycache__,build,dist,.mypy_cache,.pytest_cache
max-line-length = 120
per-file-ignores =
    __init__.py:F401
    evaluation/benchmarks/infinite_bench/create_huggingface_dataset.py:E501
    evaluation/benchmarks/longbench/create_huggingface_dataset.py:E501
    evaluation/benchmarks/longbenchv2/create_huggingface_dataset.py:E501
    evaluation/evaluate.py:E501
# E203, W503 - black-compatible config
extend-ignore = E203, W503
